{form name='ad_form'}
<table class="ow_table_1 ow_form ow_automargin ow_superwide">
    <tr class="ow_alt1">
        <td class="ow_label">{label name='image'}</td>
        <td class="ow_value">{input name='image'}</td>
    </tr>
    <tr class="ow_alt2">
        <td class="ow_label">{label name='description'}</td>
        <td class="ow_value">{input name='description'}</td>
    </tr>
    {if $hasStartup == true}
        <tr class="ow_alt2">
            <td class="ow_label">{label name='startup'}</td>
            <td class="ow_value">{input name='startup'}</td>
        </tr>
    {/if}
    <tr class="ow_alt1">
        <td class="ow_label">{label name='skills'}</td>
        <td class="ow_value">{input name='skills'}
        <br>
        <div class="needed_skills">
            {input name='chosen_skills'}
        </div>
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{label name='email'}</td>
        <td class="ow_value">{input name='email'} {error name='email'}</td>
    </tr>
    <tr>
        <td class="ow_center" colspan="2">{submit name='send' class='ow_button '}</td>
    </tr>
</table>
{/form}