<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>استارتاپ</name>
    <key>startups</key>
    <description>با این پلاگین می توانید استارتاپ خود را در این شبکه معرفی کنید و اخبار آن را به اطلاع دیگران برسانید</description>
    <author>shub</author>
    <authorEmail>plugins@shub.ir</authorEmail>
    <authorUrl>http://www.shub.ir</authorUrl>
    <developerKey>your_developer_key_here</developerKey>
    <build>1</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
    <license>The License</license>
    <licenseUrl>http://www.shub.ir/licenses/bsd-license.php</licenseUrl>
</plugin>