{form name='startup_form'}
    <table class="ow_table_1 ow_form ow_automargin ow_superwide">
        <tr class="ow_alt1">
            <td class="ow_label">{label name='title'}</td>
            <td class="ow_value">{input name='title'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_label">{label name='shortDesc'}</td>
            <td class="ow_value">{input name='shortDesc'}</td>
        </tr>
        <tr class="ow_alt1">
            <td class="ow_label">{label name='image'}</td>
            <td class="ow_value">{input name='image'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_label">{label name='LongDesc'}</td>
            <td class="ow_value">{input name='LongDesc'}</td>
        </tr>
        <tr class="ow_alt1">
            <td class="ow_label">{label name='website'}</td>
            <td class="ow_value">{input name='website'}</td>
        </tr>
        <tr class="ow_alt2">
            <td class="ow_label">{label name='address'}</td>
            <td class="ow_value">{input name='address'}</td>
        </tr>
        <tr class="ow_alt1">
            <td class="ow_label">{label name='telephoneNumber'}</td>
            <td class="ow_value">{input name='telephoneNumber'}</td>
        </tr>
        <tr>
            <td class="ow_center" colspan="2">{submit name='send' class='ow_button '}</td>
        </tr>
    </table>
{/form}